<?xml version="1.0"?>
<model>
  <name>demo_original_map</name>
  <version>2.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Yakup Gulcan</name>
    <email>yakupgulcan5@gmail.com</email>
  </author>

  <description>
    Test world for interim project.
  </description>
</model>
